<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../Css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<!--页头-->
    <div class="page-header">
        <h1>Hello World<small>welcome back</small></h1>

    </div>

<!--缩略图-->
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="../Img/3d228f258fcc937f8644f958%20-%20副本.jpg" alt=".."/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="../Img/3d228f258fcc937f8644f958%20-%20副本.jpg"/>
                <div class="caption">
                    <h3>this is a pic</h3>
                    <p>this is a good pic.Do you like it?Maybe you like it</p>
                    <p><a href="#" class="btn btn-primary" role="button">good</a> <a href="#" class="btn btn-default">bad</a></p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>